    <div class="module dataTable">
      <div class="maxWidthBox">
        <div class="fullWidth">
          <h2>The ultimate tool for the professionally curious</h2>
          <p>Choose from 3 different access levels that get you deeper into the pharmaceutical market’s data.</p>
        </div>
        <div class="fullWidth tableWrapper">
          <table>
            <thead>
              <tr>
                <th class="col0 museoBold">Stimulus</th>
                <th class="col1"><img alt="" src="assets/images/t1.png"></th>
                <th class="col2"><img alt="" src="assets/images/t2.png"></th>
                <th class="col3"><img alt="" src="assets/images/t3.png"></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th class="col0">Daily news</th>
                <td class="col1"><img alt="" src="assets/images/tickred.png"></td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Key industry developments</th>
                <td class="col1"><img alt="" src="assets/images/tickred.png"></td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Opinion &amp; analysis</th>
                <td class="col1"><img alt="" src="assets/images/tickred.png"></td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0 museoBold">Response</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3">&nbsp;</td>
              </tr>                
              <tr>
                <th class="col0">Consensus forecasts to 2024</th>
                <td class="col1">&nbsp;</td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Historical sales for 1986</th>
                <td class="col1">&nbsp;</td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Archives sales forecasts</th>
                <td class="col1">&nbsp;</td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Sales by indication</th>
                <td class="col1">&nbsp;</td>
                <td class="col2"><img alt="" src="assets/images/tickblue.png"></td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Therapeutic area</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">PTRS success rates</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Aggregated standardised trials</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Predict US &amp; EU approval dates for all NMEs</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
              <tr>
                <th class="col0">Fully transparent R&amp;D cost benchmarks</th>
                <td class="col1">&nbsp;</td>
                <td class="col2">&nbsp;</td>
                <td class="co3"><img alt="" src="assets/images/tickpurple.png"></td>
              </tr>                
            </tbody>
          </table>
        </div>
      </div>
    </div>

