<footer id="footer" class="bg--purple-dark py--xl">
    <div class="container">
        <div class="region region--footer">
    <div id="block-modalblock" class="block block--evaluate-modal block--modal-block">
  <div class="block--inner">
    
        
    <div class="content">
          <a href="/vantage/signup" class="use-ajax button button--small" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:800}">Open modal</a>
        </div>
  </div>
</div>
<div id="block-evaluate18-evaluatefooterlogo" class="span--3 block block--block-content block--block-content949c45fc-f405-4ad4-af2a-4033c052bd54">
  <div class="block--inner">
    
        
    <div class="content">
          
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/"><img style="height: 40px;" src="/themes/custom/evaluate/images/evaluate_logo_white.svg"></a></p>
</div>
      
        </div>
  </div>
</div>
<div id="block-evaluate18-contactnumbers" class="block--contact-numbers span--3 fg--white block block--block-content block--block-contentebb8fed5-b606-4599-b44f-602e85cafc01">
  <div class="block--inner">
    
        
    <div class="content">
          
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Evaluate HQ&nbsp;+<a href="tel:+44(0)20-7337-0800">44-(0)20-7377-0800</a></p>

<p>Evaluate Americas&nbsp;<a href="tel:+1-617-573-9450">+1-617-573-9450</a></p>

<p>Evaluate APAC&nbsp;<a href="tel:+81 (0)80-1164-4754">+81 (0)80-1164-4754</a></p>
</div>
      
        </div>
  </div>
</div>

<nav role="navigation" aria-labelledby="block-evaluate18-footer-menu" id="block-evaluate18-footer" class="block--menu-footer span--3 fg--white block block-menu navigation menu--footer">

    <div class="block--inner">
                      
    <h2 class="visually-hidden" id="block-evaluate18-footer-menu">Footer menu</h2>
    

        <div class="content">
            <ul class="list-unstyled clean-list">
          <li><a href="/info/terms-and-conditions" target="" rel="" data-drupal-link-system-path="node/18">Terms and Conditions</a></li>
          <li><a href="/info/privacy-policy" target="_self" data-drupal-link-system-path="node/17">Privacy Policies</a></li>
          <li><a href="/info/cookies" target="" rel="" data-drupal-link-system-path="node/9283">Cookie Policy</a></li>
      </ul>

        </div>
  </div>
</nav>
<div id="block-evaluate18-sociallinks" class="span--3 fg--white social--icons clearfix block block--block-content block--block-content0350421a-8074-4530-a980-bd6933070d34">
  <div class="block--inner">
    
        
    <div class="content">
          
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p style="text-transform: capitalize;">Follow Us</p>

<ul class="inline-list clean-list">
	<li><a style="margin-right: 0.5rem;" href="https://www.linkedin.com/company/evaluatepharma" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
	<li><a style="margin-right: 0.5rem;" href="https://www.twitter.com/evaluatepharma" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
	<li><a style="margin-right: 0.5rem;" href="https://www.instagram.com/evaluateltd/" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
</ul></div>
      
        </div>
  </div>
</div>
<div id="block-evaluate18-mwcopyrightblock" class="block--copyright span--3 block block--mw-copyright-block">
  <div class="block--inner">
    
        
    <div class="content">
          <p>© Copyright 2019 Evaluate Ltd.</p>

        </div>
  </div>
</div>

  </div>

    </div>
  </footer>