    <div class="module testimonials">
      <div class="maxWidthBox">
        <div class="fullWidth">
          <h2>Here's what some of our clients are saying:</h2>
        </div>
        <div class="fullWidth">

          <div class="expander" id="xc-testimonials">
            <!-- <div class="control"><div></div></div> -->
            <div class="window">
              <div class="xc">
                <div class="column">
<!--  -->
                  <h3>PHARMA</h3>
                  <blockquote>“We know Evaluate has done the work and looked at the data, and we trust the answers they give us. Our management is happy when they see Evaluate’s names on the data</blockquote>
                  <p>– Anthony M, Senior Director Competitive Intelligence &amp; Prospection, Novartis</p>
                  <p class="extra">As the head of the competitive intelligence function within the oncology division of Novartis, Anthony is constantly dealing with varied information requests from within the group. Whether it’s sales force sizes or press releases for the Global Marketing team, forecast information for Business Development &amp; Legal or product information for the Mergers &amp; Acquisitions division, he needs to be able to give people answers quickly – and he need to be confident that they’re the right ones.</p>
                </div>
                <div class="column">
                  <h3>CONSULTANCY</h3>
                  <blockquote>We know Evaluate has done the work and looked at the data, and we trust the  answers Evaluate accelerates my work – getting me up to speed quickly on the dynamics and current valuations within a market so I can formulate a successful strategy for my client</blockquote>
                  <p>– Partner, Top 10 Consultancy</p>
                  <p class="extra">As a partner in a life sciences strategy consulting practice, our client works with CEOs, VPs of Business Strategy and Heads of Business Units to grow their businesses – by helping them identify assets they can buy or commercialise in order to add value. Working with large Pharma and biotech companies, it’s vital that they stay up to date on everything about every market, so they can have meaningful and direct discussions with clients about the opportunities and risks they lie in front of them.</p>
                </div>
                <div class="column">
                  <h3>BANKING</h3>
                  <blockquote>Evaluate is such an important resource for us. Finding the information we need in ten minutes in Evaluate makes a meaningful difference for our clients, because we can increase the quantity and quality of options we show them</blockquote>
                  <p>– Vishwas S, Vice President, Bank of America</p>
                  <p class="extra">As the overseer of general data resources for the investment banking team, Vishwas’s role is to help his clients make the best investment decisions he can. Strategically, he achieves this by collecting as much information as possible, in order to get a comprehensive view of the landscape. Without quick, easy access to accurate information, gathering this sheer volume of information would be a task for 5 or even 10 people – but thanks to Evaluate, it’s much easier than that.</p>
                </div>
<!--  -->
              </div>
            </div>
            <div class="control"><div></div></div>
          </div>

        </div>
      </div>
    </div>

    <div class="module faqs">
      <div class="maxWidthBox">
        <div class="fullWidth">
          <h2>FAQs</h2>
        </div>
        <div class="fullWidth twoColumn">
          <div class="expander" id="xc-faqs">
            
            <div class="window">
              <div class="xc">
<!--  -->
                <div class="column mh">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#[more]" class="more">more</a></p>
                </div>
                <div class="column mh">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#[more]" class="more">more</a></p>
                </div>
                <div class="column mh">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#[more]" class="more">more</a></p>
                </div>
                <div class="column mh">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#[more]" class="more">more</a></p>
                </div>
<!--  -->
              </div>
            </div>
            <div class="control"><div></div></div>
          </div>

        </div>
      </div>
    </div>
