/* CSS for generic contact form */
/* https://app-e.marketo.com/m#FOE4441-FTH */

body {
    background-color: #fff !important;
}

.w-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.div-form {
    margin-top: 0 !important;
    padding: 0 !important;
}

label {
  display: block !important;
  font-family: MuseoSlab, Georgia, serif;
  font-size: 15px;
  color: #3b3d40 !important;
  margin-bottom: 5px !important;
  width: 100% !important;
}

label[for="emailOptIn"] {
    width: 600px !important;
    float: right !important;
}

label[for="emailOptIn"] span {
    color: #7e7e7e !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 18px !important;
}

label[for="emailOptIn"] span a {
    color: #7e7e7e !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 18px !important;
    text-decoration: underline !important;
}

.mktoForm.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
    color: #ff1414 !important;
    padding-right: 4px !important;
}

.mktoForm .mktoLabel {
    padding-top: 12px !important;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="tel"],
textarea,
select {
  font-size: 1.1em!important;
  font-family: MuseoSlab, Georgia, serif!important;
  display: block !important;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  color: #555 !important;
  background-color: #fff !important;
  width: 330px !important;
  padding: 8px 12px !important;
  border: 1px solid #bbb8bd !important;
  line-height: 1.428571429 !important;
}

.mktoForm.mktoLayoutAbove textarea.mktoField {
    border: 1px solid #d9d9d9 !important;
    width: 760px !important;
    max-width: 100% !important;
    height: 100px !important;
    margin-bottom: 20px !important;
}

select {
  height: 38px !important;
  padding: 8px 12px !important;
  margin-bottom: 10px !important;
  line-height: 1.428571429 !important;
  vertical-align: middle !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}

.mktoForm.mktoLayoutAbove .mktoCheckboxList {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

.mktoCheckboxList label {
  font-size: 13px !important;
  color: #555 !important;
}

/* button styles */
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  width: 170px !important;
  padding: 10px !important;
  max-width: 100% !important;
  display: inline-block !important;
  margin: 0 auto !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 16px !important;
  color: #ffffff !important;
  font-weight: 300 !important;
  font-family: "proxima-nova", Arial, sans-serif !important;
  text-transform: uppercase!important;
  background-color: #663398 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -ms-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-appearance: none !important;
  border: none !important;
  background-image: none!important; 
}

.mktoForm .mktoButtonWrap {
  margin-left: 0!important;
  text-align: center;
  display: block!important;
}

.mktoForm .mktoButtonRow {
  display: block!important;
  margin: 20px!important; 
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover, .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active  {
  background-color: #382154 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -ms-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
  border: none !important;
  color: #ffffff !important;
}

.mktoOffset {
  width: 0 !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* custom styles */

form.mktoForm {
  /*margin: 0 auto!important;*/
  text-align: center!important;
  /*max-width: 600px!important;*/
  width: 100%!important;
}

form.mktoForm .mktoFormRow {
  max-width: 100%!important;
}

form.mktoForm .mktoFormRow input,
form.mktoForm .mktoFormRow select {
  border: 1px solid #d9d9d9 !important;
  max-width: 100%!important;
}

form .mktoFieldDescriptor:nth-child(odd) {
  display: inline-block!important;
  margin-right: 50px!important;
}

form .mktoFieldDescriptor:nth-child(even) {
  display: inline-block!important;
  margin-left: 50px!important;
}

form .mktoFormRow .mktoFieldDescriptor:last-child {
  display: block!important;
  margin: 0px!important;
}

.mktoAsterix {
  color: black!important;
  padding-right: 2px!important;
}
.blue-container {
  background-color: #fff;
  padding: 0 !important;
}
.mktoForm select.mktoField {
  -moz-border-radius: 0!important;
  -webkit-border-radius:0!important;
  border-radius: 0!important;
  -webkit-appearance: none!important;
  /* hide arrow on firefox */
  -moz-appearance: none !important;
  text-indent: 0.01px !important;
  text-overflow: '' !important;
  background: #fff url(https://info.evaluategroup.com/rs/607-YGS-364/images/arrow-down-purple.png) center right no-repeat;
  right: -10px;
}

/* hide select arrow in IE 10+ */
.mktoForm select.mktoField::-ms-expand {
    display: none;
}

@media screen and (max-width: 764px) {
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="password"],
    input[type="tel"],
    textarea,
    select {
      width: 290px !important;
    }

    .mktoForm.mktoLayoutAbove textarea.mktoField {
        width: 680px !important;
    }
}

@media screen and (max-width: 700px) {
    label[for="emailOptIn"] {
        width: 220px !important;
        font-size: 12px !important;
        line-height: 18px !important;
    }

    label[for="emailOptIn"] span a {
        padding: 0 !important;
    }
    .mktoForm .mktoLabel {
        padding-top: 8px !important;
    }
    .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
        width: 250px !important;
    }
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="password"],
    input[type="tel"],
    textarea,
    select {
      width: 250px !important;
    }
    .mktoForm.mktoLayoutAbove textarea.mktoField {
        width: 250px !important;
    }
  .mktoFieldDescriptor {
    float: none!important;
    margin: 0!important;
    max-width: 100%!important;
  }
  .mktoFormRow {
    display: inline-block!important;
  }
  form .mktoFieldDescriptor:nth-child(odd),
  form .mktoFieldDescriptor:nth-child(even) {
    margin: 0!important;
  }
  form.mktoForm {
    max-width: 490px!important;
    margin: 0 auto !important;
  }
  form .mktoFormRow {
    text-align: center!important;
  }
}

@media screen and (max-width: 480px) {
    .mktoMobileShow .mktoForm, .mktoForm {
        padding: 0 !important;
    }
    .div-form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mktoForm .mktoButtonRow {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .mktoLogicalField.mktoCheckboxList {
        max-width: 250px !important;
    }
  input, select {
    font-size: 1.2em!important;
    height: 2.3em!important;
  }
  .mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    width: 23px !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 330px) {
    label[for="emailOptIn"] {
        width: 195px !important;
    }
}