  /* proxima bold */
  @font-face{
    font-family:tk-proxima-nova-n7;
    src:url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight:700;
    font-style:normal;
  }
  @font-face{
    font-family:tk-proxima-nova-i7;
    src:url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-weight:700;
    font-style:italic;
  }

  /* proxima normal */
  @font-face{
    font-family:tk-proxima-nova-n4;
    src:url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight:400;
    font-style:normal;
  }
  @font-face{
    font-family:tk-proxima-nova-i4;
    src:url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-weight:400;
    font-style:italic;
  }
  /* museo normal */
  @font-face{
    font-family:tk-museo-slab-n3;
    src:url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight:300;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i3;
    src:url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight:300;
    font-style:italic;
  }
  /* museo bold */
  @font-face{
    font-family:tk-museo-slab-n5;
    src:url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
    font-weight:500;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i5;
    src:url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");
    font-weight:500;
    font-style:italic;
  }

@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
  src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
       url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
.fa-lg{
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

h1, h2, h3 {
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  color: #444444;
  margin: 15px 0 20px 0;
}

h3 {
  margin-top: 15px;
  line-height: 28px;
  color: #29b3cb;
}

p {
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-size: 17px;
  line-height: 23px;
  color: #444444;
}

p.bold {
  font-family: tk-proxima-nova-n7, Georgia, serif;
}

/* pharma vision */
body{background-color:#fff;}

.header {
  background-color: #632a8f;
  border: none;
}

.expandImg{
  display:block;
  width:100%;
  padding-top:60%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
}

a.button{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:15px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
  padding:10px 50px;
  font-weight:bold;
  float:none;
  clear:both;
  text-decoration:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  opacity:0.75;
}
a.button:hover{
  text-decoration:none;
  opacity:1;
}

/* text-align */
.al{
  text-align:left !important;
}
.ar{
  text-align:right !important;
}
.aj{
  text-align:justify !important;
}
.ac{
  text-align:center !important;
}

.whiteText h1,.whiteText h2,.whiteText h3,.whiteText p,.whiteText li,.whiteText a{
  color:#fff !important;
}

/* background colours */
.greyBg{
  background-color:#f3f3f3;
}
.bannerbBg{
  background-color:#632a8f;
}
.purplebg{
  background-color:#61388e;
}
.purple1bg{
  background-color:#64498f;
}
.purple2bg{
  background-color:#493569;
}
.blue1Bg{
  background-color:#29b3cb;
}

.imageBg{
  background-repeat:no-repeat;
  background-size:cover;
}

/* generic layout */
.module{
  width:100%;
  text-align:center;
  margin-bottom:20px;
}
.container{
  width:100%;
  max-width:980px;
  margin-left:auto;
  margin-right:auto;
  padding:18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.container:after{
  content:" ";
  display:block;
  float:none;
  clear:both;
  width:100%;
}
.column{
  display:inline-block;
  float:left;
  clear:none;
  width:50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* expander */

.expander{}
.expander .control{
  cursor:pointer;
  padding:0;
}
.expander .control div{
  background-image:url('../images/expander_smol.png');
  background-position:0 0;
  background-repeat:no-repeat;
  height:10px;
  width:20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.expander.open .control div{
  -webkit-transform: rotate(180deeg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.expander .window{
  max-height:0;
  overflow:hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.expander.open .window{
  max-height:5000px;
}
.expander .window .xc{
  height:auto;
}

/* specific modules */
.pageBanner{
  margin-bottom:0;
  text-align:left;
}
.pageBanner .container{
  padding:18px 0 18px 64px;
  max-width:inherit;
}
.pageBanner img{
  margin-left:0;
  margin-right:auto;
  width:190px;
  height:auto;
}
.pageIntro{
  margin-bottom:0;
}
.pageIntro h1,
.pageIntro h2{
  color:#fff;
}

.pi2{}
.pi2 h2{color:#323232;}
.pi2 h2 span{color:#632a8f;}

.subBox{padding:18px;margin-top:18px;}
.subBox h3{margin-top:0;}
.subBox p{}

.contentPage{}
.contentPage h2{color:#323232;font-size:19px;font-family: tk-proxima-nova-n4, Georgia, serif;}
.contentPage h2 span{color:#632a8f;font-family: tk-museo-slab-n5, Georgia, serif;}

.textForm .container{
  padding-left:0;
  padding-right:0;
}
.textForm .text{
  padding-left:18px;
  padding-right:18px;
}
.textForm .form{
  background-color:#a9e1ea;
  padding:18px;
}
.textForm .form:after{
  content:' ';
  float:none;
  clear:both;
  display:block;
}

.textForm .form h2{
  margin-top:0;
}

.textForm .text ul{list-style-type:circle;padding-left:1em;}
.textForm .text ul li{margin-bottom:1em;color:#323232;}

.multiCell{}
.multiCell .container{padding:9px;}
.top{}
.fiveCell{margin-bottom:4px;margin-left:-2px;margin-right:-2px;}
.fiveCell .column{
  width:20%;
  padding:0 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.threeCell{margin-bottom:4px;margin-left:-2px;margin-right:-2px;}
.threeCell .column{
  width:33.3%;
  padding:0 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.oneCell{
  padding-bottom:32px;
}
.fiveCell > .column > div,
.threeCell > .column > div{
  padding:8px 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.fiveCell > .column > div,
.threeCell > .column > div,
.oneCell{
  overflow:hidden;
}
.fiveCell:after,
.threeCell:after,
.oneCell:after{
  content:" ";
  display:block;
  float:none;
  clear:both;
  width:100%;
}
.fiveCell h2{
  margin:0 0 1em 0;
  font-size:19px;
  padding-top:4px;
  background-repeat:no-repeat;
  background-position:right 4px;
}
.fiveCell p{
  font-size:13px;
  margin:0 0 1em 0;
}
.threeCell h2{
  margin:0 0 1em 0;
  font-size:19px;
  padding-bottom:4px;
  background-repeat:no-repeat;
  background-position:right 0px;
}
.threeCell ul{
  padding-left:1em;
}
.threeCell li{
  font-size:13px;
}

.oneCell ul{
  list-style-type:none;
  padding-left:0;
  margin-left:auto;
  margin-right:auto;
  width:auto;
}
.oneCell ul:after{
  content:" ";
  display:block;
  float:none;
  clear:both;
  width:100%;
}
.oneCell ul li{
  clear:none;
  display:inline-block;
  padding:0 8px;
  border-left:2px solid #fff;
}
.oneCell ul li:first-child{
  border-left:0px;
}
.oneCell ul li a{
  font-weight:normal;
  font-size:17px;
  font-family:tk-museo-slab-n3;
  text-decoration:none;
}
.oneCell ul li a:hover{
  text-decoration:underline;
}
.fiveCell h2.tick{
  background-image:url('../images/tick.png');
}
.fiveCell h2.timeline{
  background-image:url('../images/timeline.png');
}
.fiveCell h2.randd{
  background-image:url('../images/randd.png');
}
.fiveCell h2.chart1{
  background-image:url('../images/chart1.png');
}
.fiveCell h2.chart2{
  background-image:url('../images/chart2.png');
}

.threeCell h2.balance{
  background-image:url('../images/balance.png');
}
.threeCell h2.clinical{
  background-image:url('../images/trials.png');
}
.threeCell h2.calendar{
  background-image:url('../images/calendar.png');
}

.button.purple{
  background-color:#61388e;
}

.dataTable table{
  width:100%;
  border-spacing:0px 3px;
  border-collapse: separate;
}
.dataTable table th,
.dataTable table td{
  background-color:#fff;
  padding:3px;
}
.dataTable table td{
  text-align:center;
  padding:2px;
  margin:0 2px 2px 0;
}
.dataTable table th.col0,
.dataTable table td.col0{
  text-align:left;
  width:25%;
  padding:2px 10px;
  font-family: tk-museo-slab-n3, Georgia, serif;
}
.dataTable table th.col0{
  font-weight:normal;
}
.dataTable table th.museoBold{
  font-family: tk-museo-slab-n5, Georgia, serif;
}
.dataTable table th.col0,
.dataTable table th.col1,
.dataTable table th.col2,
.dataTable table td.col1,
.dataTable table td.col2{
  border-right:6px solid #f1f1f2;
}
.dataTable table th img{
  width:100% !important;
  max-width:inherit !important;
}

.testimonials h2{
  text-align:center;
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:24px;
  color:#000000;
}
.testimonials h3{
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
  font-size:14px;
  color:#444444;
}
.testimonials p{
  font-size:13px;
  color:#444444;
  margin:0 0 1em 0;
}
.testimonials p.extra{
  font-size:16px;
  color:#323232;
}
.testimonials .fullWidth{
  padding-left:77px;
  padding-right:77px;
}
.testimonials blockquote{
  color:#29b3cb;
  font-size:19px;
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
  position:relative;
}
.testimonials blockquote:before{
  content:url('../images/openquote.png');
  position:absolute;
  left:-20px;
  top:-10px;
}
.testimonials blockquote:after{
  content:url('../images/closequote.png');
  position:absolute;
  right:-20px;
  bottom:0px;
}

.faqs .column{
  padding-right:20px;
}
.faqs .column .expander{
  padding-bottom:20px;
}

.faqs h3{
  margin-top:0px;
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 300;
  font-size:16px;
  color:#323232;
  line-height:140%;
}
.faqs p{
  font-size:16px;
  color:#323232;
  line-height:140%;
  margin-bottom:1em;
}

.logos{
  margin-bottom:0;
}

.footer{
  margin-top:0px;
  margin-bottom:0px;
}
.footer p,
.footer .links a{
  font-size:16px;
  font-family:tk-proxima-nova-n4, arial;
}
.footer .column{
  width:25%;
  padding:0 1em 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.footer .column.logo img{
  width:149px;
  height:auto;
  display:block;
  margin-left:0;
  margin-right:auto;
}
.footer .column.numbers p{
  margin: 0 0 0.75em;
  line-height:23px;
}
.footer .column.links a{
  font-weight:normal;
  display:block;
  margin: 0 0 0.75em;
  line-height:23px;
}
.footer a{
  text-decoration:none;
}
.footer a:hover{
  text-decoration:none;
}
.footer .socialMedia p{
  margin-bottom:0;
}
.footer .socialMedia div{
  padding-bottom:1em;
}
.linkedin:before{
  content: "\f0e1";
}
.twitter:before{
  content: "\f099";
}
.instagram:before{
  content: "\f16d";
}


/* form */
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="tel"],
textarea,
select {
  font-size: 14px !important;
  font-family: tk-museo-slab-n3, Georgia, serif!important;
  display: block !important;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  color: #555 !important;
  background-color: #fff !important;
  width:100%;
  padding: 8px 12px !important;
  border: 1px solid #bbb8bd !important;
  line-height: 1.428571429 !important;
}

select {
  height: 38px !important;
  padding: 8px 12px !important;
  margin-bottom: 10px !important;
  line-height: 1.428571429 !important;
  vertical-align: middle !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}

.mktoForm select.mktoField {
  -moz-border-radius: 0!important;
  -webkit-border-radius:0!important;
  border-radius: 0!important;
  -webkit-appearance: none!important;
  /* hide arrow on firefox */
  -moz-appearance: none !important;
  text-indent: 0.01px !important;
  text-overflow: '' !important;
  background: #fff url('../images/arrow-down-purple.png') center right no-repeat;
  right: -10px;
}

/* hide select arrow in IE 10+ */
.mktoForm select.mktoField::-ms-expand {
    display: none;
}

.mktoForm{
  width:100%;
  float:none;
  clear:both;
}
.mktoForm:after{
  content:' ';
  float:none;
  clear:both;
  display:block;
}
.mktoFormRow{
  margin-bottom:0.5em;
}
.mktoFormRow:after{
  content:' ';
  float:none;
  clear:both;
  display:block;
}

.mktoFormCol{
  width:50%;
  float:left;
  clear:none;
  display:inline-block;
  box-sizing:border-box;
}
.pairField .mktoFormCol{
  padding-left:20px; 
}
.pairField .mktoFormCol:first-child{
  padding-left:0px;  
}

.mktoFieldWrap label{
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-weight:400;
  font-size:16px;
  color:#323232;
  margin:0;
  line-height:1em;
}
.mktoFieldWrap label .mktoAsterix{
  display:inline-block;
  padding-right:0.3em;
  margin-bottom:4px;
}
/*
.mktoFieldWrap input[type=text],
.mktoFieldWrap input[type=email],
.mktoFieldWrap input[type=tel],
.mktoFieldWrap select{
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-weight:400;
  font-size:16px;
  color:#323232;
  background-color:#fff;
  width:100%;
  border:0;
  padding:4px;
  box-sizing:border-box;
  height:49px;
}
*/
.mktoOffset{}
.mktoClear{}

.form-xcheck{
  margin-bottom:12px;
}
.form-xcheck:after{
  content:" ";
  display:block;
  clear:both;
  float:none;
}

.form-xcheck label{padding-left:20px;float:none;clear:none;position:relative;}
.form-xcheck label:after{
  content:" ";
  display:block;
  clear:both;
  float:none;
}
.form-xcheck input[type=checkbox]{float:left;clear:none;position:absolute;left:0px;top:0;}

/*
.form-xcheck input[type=checkbox]{display:none;}
.form-xcheck label{
  overflow:hidden;
  padding-left:30px;
  position:relative;
  float:none;
  line-height:1.5em;
}
.form-xcheck label span.fcouter{
  margin-top:-8px;
  margin-right:0px;
  position:absolute;
  left:0;
  top:8px;
  display:inline-block;
  padding:0px;
  width:22px;
  border:none;
}
.form-xcheck label span.fcouter span.fcinner{
  width:22px;
  height:22px;
  background-color:#fff;
  border-radius:8px;
  display:block;
  box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5);
  text-align:center;
  line-height:22px;
}
.form-xcheck label input[type="checkbox"]:checked + span.fcouter span.fcinner{
  
}
.form-xcheck label input[type="checkbox"]:checked + span.fcouter span.fcinner:before{
  content:'✔';
}
*/
.rfm{padding-top:0.5em;padding-left:20px;}

.mktoButtonWrap button{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:15px;
  display:inline-block;
  width:auto;
  margin-left:0;
  margin-right:auto;
  box-sizing:border-box;
  padding:10px 50px;
  font-weight:bold;
  float:none;
  clear:both;
  text-decoration:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  background-color:#61388e;
  color:#fff;
  border:0;
  /*
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  opacity:0.75;
  */
}

/* breakpoints */
/*
> 1200
991 - 1200
767 - 991
479 - 767
< 479
*/
@media screen and (min-width: 1200px) {
  .container{
    max-width: 1080px;
    max-width: 71.5625rem;
  }
}
@media screen and (max-width: 1200px) {
  .container{
    max-width: 940px;
  }
}
@media screen and (max-width: 991px) {
  .container{
    max-width: 728px;
  }
  .textForm .column{
    width:100%;
    display:block;
    float:none;
    clear:both;
  }
  .textForm .text{
    /*padding-right:0px;
    padding-left:0px;*/
    padding-bottom:18px;
  }
  .threeCell,
  .fiveCell{margin-bottom:0px;}
  .threeCell .column,
  .fiveCell .column{
    width:50%;
    margin-bottom:4px;
  }  
  .threeCell .column.last,
  .fiveCell .column.last{
    width:50%;
    margin-bottom:4px;
    margin-left:25%;
    margin-right:auto;
    float:none;
    clear:both;
  }  
  .testimonials .fullWidth{
    padding-left:18px;
    padding-right:18px;
  }
  .footer .column.logo,.footer .column.numbers{
    width:100%;
  }
  .footer .column.links,.footer .column.socialMedia{
    width:50%;
  }
}
@media screen and (min-width: 767px) {
}
@media screen and (max-width: 767px) {
  .container{
    max-width: 728px;
  }
  .threeCell,
  .fiveCell{margin-bottom:0px;}
  .threeCell .column,
  .fiveCell .column{
    width:100%;
    margin-bottom:4px;
  }  
  .threeCell .column.last,
  .fiveCell .column.last{
    width:100%;
    margin-left:0px;
  }
  .faqs .column{
    width:100%;
    float:none;
    clear:both;
  }
  .footer .column.logo,.footer .column.numbers,.footer .column.links,.footer .column.socialMedia{
    width:100%;
  }
}
@media (max-width: 479px) {
  .container{
    max-width:inherit;
  }
  .mktoFormRow{
    margin-bottom:0em;
  }
  .mktoFormCol{
    width:100%;
    float:none;
    clear:both;
    display:block;
    margin-bottom:0.5em;
  }
  .pairField .mktoFormCol{
    padding-left:0px;
  }
  .rfm{padding-left:0px;}
}
