  /* proxima bold */
  @font-face{
    font-family:tk-proxima-nova-n7;
    src:url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight:700;
    font-style:normal;
  }
  @font-face{
    font-family:tk-proxima-nova-i7;
    src:url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/86b539/00000000000000003b9b093a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-weight:700;
    font-style:italic;
  }

  /* proxima normal */
  @font-face{
    font-family:tk-proxima-nova-n4;
    src:url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight:400;
    font-style:normal;
  }
  @font-face{
    font-family:tk-proxima-nova-i4;
    src:url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/6aec08/00000000000000003b9b0935/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-weight:400;
    font-style:italic;
  }
  /* museo normal */
  @font-face{
    font-family:tk-museo-slab-n3;
    src:url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight:300;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i3;
    src:url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/ea0e14/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight:300;
    font-style:italic;
  }
  /* museo bold */
  @font-face{
    font-family:tk-museo-slab-n5;
    src:url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
    font-weight:500;
    font-style:normal;
  }
  @font-face{
    font-family:tk-museo-slab-i5;
    src:url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");
    font-weight:500;
    font-style:italic;
  }

h1, h2, h3 {
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  color: #444444;
  margin: 15px 0 20px 0;
}

h3 {
  margin-top: 15px;
  line-height: 28px;
  color: #29b3cb;
}

p {
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-size: 17px;
  line-height: 23px;
  color: #444444;
}

p.bold {
  font-family: tk-proxima-nova-n7, Georgia, serif;
}

/* pharma vision */
body{background-color:#fff;}

.header {
  background-color: #632a8f;
  border: none;
}
.logo.logo-original {
  padding: 20px 0;
  margin: 0;
}

.expandImg{
  display:block;
  width:100%;
  padding-top:60%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
}

a.button{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:15px;
  display:inline-block;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
  padding:10px 50px;
  font-weight:bold;
  float:none;
  clear:both;
  text-decoration:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  opacity:0.75;
}
a.button:hover{
  text-decoration:none;
  opacity:1;
}

.module{
  width:100%;
  display:block;
  clear:both;
  float:none;
  margin-bottom:20px;
}
.maxWidthBox{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
}
.fullWidth{
  width:100%;
  padding-left:20px;
  padding-right:20px;
  overflow:hidden;
}
.twoColumn{
}
.twoColumn:after{
  content:' ';
  display:block;
  float:none;
  clear:both;
}
.twoColumn .column{
  width:50%;
  display:inline-block;
  float:left;
  clear:none;
}
.twoColumn .column.fl{
  float:left;
}
.twoColumn .column.fr{
  float:right;
}

.pharmaVision{
  background-color:#382154;
  background-image:url('../images/pharma.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom:0;
}
.pharmaVision .fullWidth{padding-top:20px;}
.pharmaVision h1,
.pharmaVision h2{
  color:#fff;
}
.intro{
  background-color:#f3f3f3;
}
.intro h2 span{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
}
.pharmaVision h1{
  margin-top:0;
}
.explore .column.image{
  width:40%;
}
.explore .column.text{
  width:60%;
  padding-left:20px;
}
.explore ul{
  list-style-type:circle;
}
.explore ul li{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:14px;
  color:#000000;

}
.explore ul li p{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:14px;
  color:#000000;
  margin-bottom:0;
}
.explore ul li ul{
  list-style-type:none;
  padding-left:1.5em;
}
.explore ul li ul li{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:14px;
  color:#000000;
  position:relative;
}
.explore ul li ul li:before{
  content:'-';
  position:absolute;
  top:0;
  left:-1.5em;
}
.explore .expandImg{
  /*padding-top:60%;*/
  height:100%;
}

.testimonials h2{
  text-align:center;
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:24px;
  color:#000000;
}
.testimonials h3{
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
  font-size:14px;
  color:#444444;
}
.testimonials p{
  font-size:13px;
  color:#444444;
}
.testimonials p.extra{
  font-size:16px;
  color:#323232;
}
.testimonials .column{
  padding-left:40px;
  padding-right:40px;
}
.testimonials blockquote{
  color:#29b3cb;
  font-size:19px;
  font-family: tk-museo-slab-n5, Georgia, serif;
  font-weight: 500;
  position:relative;
}
.testimonials blockquote:before{
  content:url('../images/openquote.png');
  position:absolute;
  left:-20px;
  top:0px;
}
.testimonials blockquote:after{
  content:url('../images/closequote.png');
  position:absolute;
  right:-20px;
  bottom:0px;
}

.faqs .column{
  padding-right:20px;
}
.faqs h3{
  margin-top:0px;
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:16px;
  color:#323232;
}
.faqs p{
  font-size:16px;
  color:#323232;
}
.dataTable .maxWidthBox{
  background-color:#f1f1f2;
  padding-top:20px;
  padding-bottom:20px;
}
.dataTable .centerButton{
  padding:20px 0;
  text-align:center;
}
.dataTable .tableWrapper{
  margin:0 0 0 0px;
  /*width:calc(100% + 12px);*/
  width:100%;
}
.dataTable h2, .dataTable p{text-align:center;}
.dataTable table{
  width:100%;
  border-spacing:0px 3px;
  border-collapse: separate;
}
.dataTable table th,
.dataTable table td{
  background-color:#fff;
  padding:3px;
}
.dataTable table td{
  text-align:center;
  padding:2px;
  margin:0 2px 2px 0;
}
.dataTable table th.col0,
.dataTable table td.col0{
  text-align:left;
  width:25%;
  padding:2px 10px;
  font-family: tk-museo-slab-n3, Georgia, serif;
}
.dataTable table th.col0{
  font-weight:normal;
}
.dataTable table th.museoBold{
  font-family: tk-museo-slab-n5, Georgia, serif;
}
.dataTable table th.col0,
.dataTable table th.col1,
.dataTable table th.col2,
.dataTable table td.col1,
.dataTable table td.col2{
  border-right:6px solid #f1f1f2;
}
.logos{
  background-color:#f3f3f3;
  margin-bottom:-100px;
}
.logos h2{
  text-align:center;
}

.expander{}
.expander .control{
  background-color:#fff;
  cursor:pointer;
  padding:0 0 12px 0;
}
.expander .control div{
  display:block;
  margin:0 auto;
  background-image:url('../images/expander.png');
  background-position:0 0;
  background-repeat:no-repeat;
  height:22px;
  width:40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.expander.open .control div{
  -webkit-transform: rotate(180deeg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.expander .window{
  max-height:0;
  overflow:hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.expander.open .window{
  max-height:5000px;
}
.expander .window .xc{
  height:auto;
}

.form .w-container{
  max-width:1080px;
  background-color:#f3f3f3;
  padding:20px 55px;
  box-sizing:border-box;
}
.form .div-form{
  margin-top:0;
}
.form .div-form h3{
  text-align:center;
  margin:0 0 20px 0;
  color:#323232;
}
.mktoForm{
  width:100%;
  float:none;
  clear:both;
}
.mktoForm:after{
  content:' ';
  float:none;
  clear:both;
  display:block;
}
.oneThird,
.twothirds{
  float:left;
  clear:none;
  display:inline-block;
}
.twothirds{
  width:66.6%;
}
.oneThird{
  width:33.3%;
}
.mktoFormRow{
}
.mktoFormCol{
  width:50%;
  float:left;
  clear:none;
  display:inline-block;
  padding-right:20px;
  box-sizing:border-box;
}
.mktoFieldWrap{
}
.mktoFieldWrap label{
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-weight:400;
  font-size:16px;
  color:#323232;
}
.mktoFieldWrap label .mktoAsterix{
  display:inline-block;
  padding-right:0.3em;
}
.mktoFieldWrap input[type=text],
.mktoFieldWrap input[type=email],
.mktoFieldWrap input[type=tel],
.mktoFieldWrap select{
  font-family: tk-proxima-nova-n4, Georgia, serif;
  font-weight:400;
  font-size:16px;
  color:#323232;
  background-color:#fff;
  width:100%;
  border:0;
  padding:4px;
  box-sizing:border-box;
}
.mktoOffset{}
.mktoClear{}

.form-xcheck{}
.form-xcheck:after{
  content:" ";
  display:block;
  clear:both;
  float:none;
}

.form-xcheck input[type=checkbox]{display:none;}
.form-xcheck label{
  overflow:hidden;
  padding-left:30px;
  position:relative;
  float:none;
}
.form-xcheck label span.fcouter{
  margin-top:-8px;
  margin-right:0px;
  position:absolute;
  left:0;
  top:8px;
  display:inline-block;
  padding:0px;
  width:22px;
  border:none;
}
.form-xcheck label span.fcouter span.fcinner{
  width:22px;
  height:22px;
  background-color:#fff;
  /*border-radius:8px;*/
  display:block;
  box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5);
  text-align:center;
  line-height:22px;
}

.form-xcheck label input[type="checkbox"]:checked + span.fcouter span.fcinner{
  
}
.form-xcheck label input[type="checkbox"]:checked + span.fcouter span.fcinner:before{
  content:'✔'; /* &#10004; */ 
}

.mktoButtonWrap button{
  font-family: tk-museo-slab-n3, Georgia, serif;
  font-weight: 300;
  font-size:15px;
  display:inline-block;
  width:auto;
  margin-left:0;
  margin-right:auto;
  box-sizing:border-box;
  padding:10px 50px;
  font-weight:bold;
  float:none;
  clear:both;
  text-decoration:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  opacity:0.75;
  background-color:#61388e;
  color:#fff;
}

@media screen and (min-width: 1200px) {
  .maxWidthBox{
    max-width: 1080px;
  }
  .explore .expandImgx{
    padding-top:60%;
  }
}
@media screen and (max-width: 1200px) {
  .maxWidthBox{
    max-width: 940px;
  }
  .explore .expandImgx{
    padding-top:85%;
  }
}
@media screen and (max-width: 991px) {
  .maxWidthBox{
    max-width: 728px;
  }
  .explore .expandImgx{
    padding-top:130%;
  }
  .twothirds,
  .oneThird{
    width:100%;
    float:none;
    clear:both;
  }
  .oneThird{
    margin-top:20px;
  }
}
@media screen and (min-width: 767px) {
  .desktopOnly{display:block !important;}
  .mobileOnly{display:none !important;}
}
@media screen and (max-width: 767px) {
  .maxWidthBox{
    max-width: 728px;
  }
  .twoColumn .column{
    width:100%;
    display:block;
    float:none;
    clear:both;
  }
  .desktopOnly{display:none !important;}
  .mobileOnly{display:block !important;}
  .explore .column.text{
    width:100%;
    padding-left:0px;
  }
  .faqs .column{
    padding-right:0px;
  }
  .explore .expandImg{
    padding-top:50%;
  }
  .mktoFormCol{
    width:100%;
    float:none;
    clear:both;
    display:block;
    padding-right:0;
  }
}
@media (max-width: 479px) {
}

